################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Test/v17/.wsuo
/.vs/Test/FileContentIndex/311160d5-573f-43de-a3d0-d0863cda829f.vsidx
/.vs/Test/FileContentIndex/4027edc7-89fc-4a2e-8bed-fb032d64f118.vsidx
/.vs/Test/FileContentIndex/5d76546f-96b5-4886-9ab9-68b67f424a61.vsidx
/.vs/Test/FileContentIndex/read.lock
/.vs/Test/FileContentIndex/9a2f1562-2781-480a-b8be-0ef4073ed61f.vsidx
